@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e1b4b;
  --color-primary-light: #312e81;
  --color-primary-dark: #0f172a;
  --color-accent: #10b981;
  --color-accent-light: #34d399;
  --color-accent-dark: #059669;
}

@layer base {
  body {
    @apply bg-gray-50 text-slate-900;
  }
}

/* Custom scrollbar styling */
@layer utilities {
  .scrollbar-custom::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  .scrollbar-custom::-webkit-scrollbar-track {
    @apply bg-gray-100;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb {
    @apply bg-primary rounded-full;
  }

  .scrollbar-custom::-webkit-scrollbar-thumb:hover {
    @apply bg-primary-light;
  }
}